<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <h1>Teufelsrochen Guestbook</h1>
    <a class="join-btn-link" href="/html/message.html">message </a>

    <ul>
        <%guests.forEach((guest)=> { %>
            <li>

                <h3>
                    <%- guest.firstName %>
                </h3>
                <p>
                    <%- guest.email %>
                </p>
                <p>
                    <%- guest.message %>
                </p>


            </li>
            <% })%>

    </ul>



</body>

</html>